$color-gray-100: #494D52 !default;
$color-white: #FFFFFF !default;
$color-black: #000000 !default;
$color-gray-medium: #757575 !default;
$color-gray-light: #BBBFC3 !default;
$color-gray-lighter: #D8D8D8 !default;
$color-gray-lightest: #faf9f9 !default;


$color-primary: #1C88ED !default;
$color-primary-l70: #4CA8FF !default;
$color-primary-l40: #99CEFF !default;
$color-primary-l15: #D9EDFF !default;
$color-primary-d30: #005CB3 !default;

$color-red-600: #FACCCC !default;
$color-red-100: #EF3637 !default;