@import "../partials/variables";
@import "../partials/color_settings";
@import "../partials/mixins";
@import "../partials/font_settings";

.a-input-field {
  &--search-bar {
    border: none;
    border-bottom-style: $global-search-border-style;
    border-radius: 0;
    height: 22px;
    @include typography(base-1);
    @include set-font-size($base-font-size--normal, 1);
    @media (max-width: $breakpoint__bp-xs) {
      width: 100px
    }
  }
  &:focus {
    outline:none;
    border: none;
    border-bottom: 1px solid $color-primary;
    background-color: $color-gray-lighter;
  }
}

.search-bar-container {
  float: right;
  &-label {
    @include typography(base-1);
    @include set-font-size($base-font-size--normal, 1);
  }
  .a-btn--primary {
    height: 30px;
    @include set-font-size($base-font-size--normal, 1);
  }
}

@media (max-width: $breakpoint__bp-sm) {
  .search-bar-container {
    float: right;
    &-label {
      display: none;
    }
    .a-btn--primary {
      height: 30px;
      @include set-font-size($base-font-size--normal, 1);
    }
  }
}