@import "layout/grid";
@import "atoms/atoms";
@import "partials/variables";
@import "partials/mixins";
@import "partials/color_settings";
@import "components/search_bar";
@import "components/nav_bar";
@import "components/results";
@import "components/message";


//Styling of grid for demostration purposes
/*
.container {
  background-color: #88d8b0;
  padding: 10px;
  box-sizing: border-box;
  &__row {
    background-color: #ffeead;
    &.nested {
      background-color: #ffcc5c;
    }
  }

  @at-root {
    [class*='container__col-'] {
      &.higher {
        min-height: 60px;
      }
      min-height: 30px;
      background-color: #ff6f69;
      outline: 1px solid #ffcc5c;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}*/
